.characterCardList{
    overflow-y: auto;  
    white-space: nowrap;  
}

.card{
    display: inline-block;
    height: 400px;
    width: 300%;
   
}

.planetCardList{
    overflow-x: auto;  
    white-space: nowrap;  
}

